{# all.html.twig #}
<h2>All Artworks</h2>

<table border="1">
	<tr>
		<th>Title</th>
		<th>Artist</th>
		<th>Creation Date</th>
		<th>Description</th>
		<th>Image</th>
	</tr>
	{% for artwork in artworks %}
		<tr>
			<td>
				<a href="{{ path('idArtwork', { id: artwork.id }) }}">{{ artwork.title }}</a>
			</td>
			<td>{{ artwork.artistName }}</td>
			<td>{{ artwork.creationDate }}</td>
			<td>{{ artwork.description }}</td>
			<td><img src="{{ artwork.imagePath }}" alt="{{ artwork.title }}" width="300"></td>
		</tr>
	{% endfor %}
</table>
